@import "theme.css";
@import "common.css";
@import "animations.css";
@import "campaign_progress_bar.css";
@import "donation_alerts.css";
@import "donation_leaderboard.css";
@import "schedule.css";

body {
    background-color: var(--theme-color-secondary-rgba);
    background: var(--dashboard-background-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.side-panel {
    z-index: 1049;
    position: absolute;
    background-color: var(--titlePanel-background-color-transparent);
    color: var(--titlePanel-text-color);
}

#collapseSettings > div, hr {
    width: 50vw;
}

.dashboardContainer {
    height: 90%;
    padding: 0px;
    margin: 0px;
}

.dashboardContainer > div {
    padding: 0px;
    margin: 0px;
}

.bg-blur {
    background: var(--theme-color-primary-super-translucent-rgba);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

footer {
    height: 10%;
    min-height: 60px;
}

.dashboard-footer {
    color: var(--titlePanel-text-color);
    background: var(--titlePanel-background-color);
}

.theme-trademark-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    background-image: var(--theme-trademark-banner);
}

.infoPanelContainer, .settingsContainer {
    overflow-y: scroll !important;
}

.infoPanel {
    height: var(--infoPanel-alert-height) !important;
}

#leaderPanels > div > .donationTotal, #leaderPanels > div > .donationName {
    display: block !important;
}

.dashboard-details {
    overflow: hidden;
}

.modal-content {
    background-color: var(--popup-background-color) !important;
    color: var(--popup-text-color) !important;
    font-family: var(--popup-font) !important;
}

.form-switch .form-check-input {
    height: 30px;
    width: 60px;
    background-color: var(--theme-accent-primary-rgba);
    border-color: var(--theme-color-primary-rgba);
}
.form-switch .form-check-input:focus {
    box-shadow: 0px 0px 15px var(--theme-color-primary-rgba);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(69,69,69,0.35)'/></svg>");
}
.form-switch .form-check-input:checked {
    border-color: var(--theme-accent-primary-rgba);
    background-color: var(--theme-color-primary-rgba);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(69,69,69,0.70)'/></svg>");
}

.btn-link:hover {
    color: var(--theme-accent-primary-rgba) !important;
}

.btn-link:focus {
    color: var(--theme-accent-primary-rgba) !important;
    border-color: var(--theme-color-primary-rgba) !important;
    box-shadow: 0px 0px 10px var(--theme-color-primary-rgba) !important;
}

@media (max-width: 900px) {
    .titlePanel {
        font-size: 1.5rem !important;
    }

    .donationTotal {
        font-size: var(--donationTotal-sm-font-size) !important;
        -webkit-text-stroke-width: var(--donationTotal-sm-font-stroke-width) !important;
        text-decoration: none !important;
    }
    
    .donationName {
        font-size: var(--donationName-sm-font-size) !important;
        -webkit-text-stroke-width: var(--donationName-sm-font-stroke-width) !important;
    }
}

@media (max-width: 600px) {
    #collapseSettings > div, hr {
        width: 100vw;
    }
    
    .detail-column {
        min-width: 190px !important;
        width: 100% !important;
    }
    
    .titlePanel {
        font-size: 2rem !important;
        text-align: start !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .donationTotal {
        font-size: var(--donationTotal-font-size) !important;
        -webkit-text-stroke-width: var(--donationTotal-font-stroke-width) !important;
        text-decoration: none !important;
    }
    
    .donationName {
        font-size: var(--donationName-font-size) !important;
        -webkit-text-stroke-width: var(--donationName-font-stroke-width) !important;
    }

    .collapse-button {
        display: block !important;
    }
}

@media (max-width: 300px) {
    .titlePanel, .collapse-button i {
        font-size: var(--titlePanel-sm-font-size) !important;
    }

    .collapse-button {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
}