@import "theme.css";
@import "common.css";
@import "animations.css";

#leaderboard {
    min-width: 100px;
    min-height: 110px;
}

@media (max-width: 300px) {
    .titlePanel {
        font-size: var(--titlePanel-sm-font-size) !important;
    }

    .donationTotal {
        font-size: var(--donationTotal-sm-font-size) !important;
        -webkit-text-stroke-width: var(--donationTotal-sm-font-stroke-width) !important;
    }
    
    .donationName {
        font-size: var(--donationName-sm-font-size) !important;
        -webkit-text-stroke-width: var(--donationName-sm-font-stroke-width) !important;
    }
}

@media (max-width: 224px) {
    .donationTotal {
        font-size: var(--donationTotal-sm-font-size) !important;
        -webkit-text-stroke-width: var(--donationTotal-sm-font-stroke-width) !important;
        text-decoration: underline !important;
    }
}

@media (min-width: 225px) {
    .donationTotal {
        width: 25% !important;
        text-decoration: none !important;
    }

    .donationName {
        width: 75% !important;
    }
}